.header-image {
    width: 100%;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.text{
    position: absolute;
    width: 800px;
    height: 450px;
    left: 25px;
    top: 300px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




.nav-color{
    background-color: #FFE31E;
}

.list-group-item:hover {
    background-color: #FF00FF;
}

.list-group {
    position: fixed;
    top: 0;
    left: 200px;
    width: 100%;
    max-width: 500px; /* ajuste o valor conforme necessário */
    background-color: #f5f5f5;
    padding: 0px;
    box-sizing: border-box;
}

.container-text{
    max-width: 800px;
    margin: 0 auto;
}
  
.title {
    margin-top: 300px;
    text-align: center;
}
  
.text {
    margin: 200px;
    color: black;
}


#cima{
    position: absolute;
    width: 557px;
    height: 357px;
    left: 850px;
    top: 220px;

    background: url(multidao.jpg);
    border-radius: 81px;
}

#baixo{
    position: absolute;
    width: 502px;
    height: 351px;
    left: 1351px;
    top: 630px;

    background: url(multidao.jpg);
    border-radius: 74px;
}

#rosa{
    background-image: url("rosa.jpeg");
    height: 40px;
}
#azul{
    background-image: url("azul.jpeg");
    height: 63px
}

#amarelo{
    background-image: url("amarelo.jpeg");
    height: 39px;
}

